<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <!--container-->
                <div class="container-fluid pe-0">
                    <!--row-->
                    <div class="row">
                        <!--col-->
                        <div class="col-12">
                            <p role="alert">Sorry, there's nothing at this address.</p>
                        </div>
                        <!--/col-->
                    </div>
                    <!--/row-->
                </div>
                <!--/container-->
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>